body{
    background-color: #557174;
}

#container{
    width:40%;
    height:80vh;
    margin: auto;
    border: 2px solid #557174;
    border-radius: 15px;
    margin-top: 93px;
}

#header{
    display: block;
    height:8%;
    background-color: #9dad7f;
    border-top-left-radius : 15px;
    border-top-right-radius: 15px;
}

#headingCalculator {
    /* height: 100%; */
    font-size: 34px;
    margin: 0;
    padding: 13px 14px;
}

#section2 {
    height:20%;
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: #c7cfb7;
}

#input1, #input2, #outputValue {
    height: 33%;
    border: none;
    text-align: right;
    background-color: #f7f7e8;
    padding-right: 15px;
    font-size: 20px;
}

#output {
    background-color: #f7f7e8;
}

#section3, #section4 {
    height: 25%;
    background-color: #c7cfb7;
}

#section5 {
    height: 22%;
    background-color: #c7cfb7;
}

#section3Top, #section3Bottom, #section4Top, #section4Middle {
    height:50%;
    display: flex;
    flex-direction: row;
    width:100%;
}

#section5Bottom {
    height:57%;
    display: flex;
    flex-direction: row;
    width:100%;
}

.operatorKey, .numberKeys {
    height: 98%;
    width: 24.5%;
    background-color: #9dad7f;
    margin-top: 1px;
    margin-left: 2px;
    /* border-radius: 20px; */
    /* border-color: #9dad7f; */
}

#enterKey {
    height: 38%;
    width: 98.7%;
    background-color: #9dad7f;
    margin-top: 1px;
    margin-left: 2px;
    font-size: 25px;
    border-radius: 30px;
}

#enterKey:hover{
    background-color: #557174;
    border-radius: 0px;
}

#operatorIcon {
    font-size: 40px;
}

.squareSymbolSize, .numberKeys {
    font-size: 25px;
}

.numberFontSize {
    height: 98%;
    width: 24.5%;
    background-color: #9dad7f;
    margin-top: 1px;
    margin-left: 2px;
    font-size: 25px;
}

button:hover{
    /* background-color: #f7f7e8; */
    background-color: #557174;
    border-radius: 20px;
}